<a class="anchor" name="about"></a>
<h2>What is Olefine?</h2>

<div class="flow-text">
  <p>
    Nowadays everybody is aware of the toxic effects of the conventional insecticides that are used to protect our plants from pest insects. The insecticides are harmful for the farmer, who sprays them on the field, for the pollinating insects, e.g., bees, and insecticide residues on fruits and vegetables are harmful for the consumer. But are there other safer ways to protect the plants from pest insects?
  </p>
  <p>
    Yes, one of most promising methods is mating disruption, where small amounts of insect sex pheromones are released in the field to prevent the males from finding the insect females. This way females do not get fertilized and can not lay eggs that develop into larvae eating the plants. The technology is simple and effective, but until now quite expensive. 
  </p>
  <p>
  	The EU-funded project OLEFINE will solve this problem, making pheromones so cheap that they will become an affordable alternative to insecticides. Currently, pheromones are produced by chemical synthesis, which is an expensive and polluting process. The scientists in OLEFINE will use biotechnology instead to produce pheromones at low cost by brewing, in the same way how insulin is made for diabetes treatment and enzymes are produced for washing powders. 
  </p>

  <div class="centered">
<iframe width="600" height="400"
src="https://www.youtube.com/embed/HAht5VM8nL8">
</inframe>

