<div><p></p></div>
<div></div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center">Olefine</h1>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <p class="text-darken-3 flow-text center">
              Safe replacements for insecticides enabled by biotechnology
            </p>
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
            <div class="row center">
                <a href="mailto:herrgard@biosustain.dtu.dk" id="download-button"
                   class="btn-large waves-effect waves-light lighten-1" target="_blank">Get in touch</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/banner1.png" alt="Unsplashed background img 1"></div>
</div>
