<footer class="page-footer">
  <div class="container">
    <a class="anchor" name="contact"></a>
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Coordinator</h5>
        <div class="white-text">
          <ul>
            <li>The Novo Nordisk Foundation Center for Biosustainability</li>
            <li>Technical University of Denmark</li>
            <li>Building 220</li>
            <li>Kemitorvet</li>
            <li>2800 Kgs. Lyngby</li>
            <li>Denmark</li>
          </ul>
        </div>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <div class="white-text">
          <ul>
            <li>Birte Kastrup Rasmussen</li>
            <li>
              <i class="material-icons tiny">email</i><a class="white-text" href="mailto:bkar@biosustain.dtu.dk"> bkar@biosustain.dtu.dk</a>
            </li>
            <li><i class="material-icons tiny">phone</i>+45 40 46 15 05</li>
          </ul>
        </div>
      </div>

      <div class="col l2 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a href="https://twitter.com/OlefineEu" class="twitter-follow-button" data-show-count="false">Follow @OlefineEu</a>
            <script>
              ! function(d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, 'script', 'twitter-wjs');
            </script>
          </li>
        </ul>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Funding</h5>
        <ul>
          <li>
            <div class="white-text">
              <img src="/images/eu_flag_yellow_low.jpg" alt="EU-Flag" class="responsive-img z-depth-1" style="max-width: 60%"/>
              <br>
              This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 760798.
            <div>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <!-- <div class="footer-copyright">
    <div class="container">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </div> -->
</footer>

<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('.modal-trigger').leanModal();
    $(".dropdown-button").dropdown();
  });
</script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
