<div class="divider"></div>
<div class="section">
    <a class="anchor" name="tools"></a>

    <div class="parallax-container valign-wrapper">
      <div class="section">
        <div class="container">
          <div class="row center">
            <h1 class="left ">Software Tools</h1>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/images/banner3-tiltshift-code.png" alt="tiltshift code"></div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">

        <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/optflux_logo_300dpi.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>OptFlux is an open-source and modular software to support in silico metabolic engineering tasks aimed at being the reference computational application in the field.</p>
            </div>
            <div class="card-action">
                <a href="http://www.optflux.org/" target="_blank">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/cameo_logo.svg" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>
                  Cameo is a high-level python library developed to aid the strain design process in metabolic engineering projects.
                </p>
            </div>
            <div class="card-action">
                <a href="http://cameo.bio/" target="_blank">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/iPATH2_logo.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>iPath2: interactive Pathways Explorer is a web-based tool for the visualization, analysis and customization of various pathways maps.</p>
            </div>
            <div class="card-action">
                <a href="http://pathways.embl.de" target="_blank">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/TRIAGE_logo.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>The Transport Reactions Annotation and Generation (Triage) tool identifies the metabolites transported by each transmembrane protein and its transporter family.</p>
            </div>
            <div class="card-action">
                <a href="http://merlin-sysbio.org/" target="_blank">Read more</a>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/Anote2_logo.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>@Note is a Biomedical Text Mining platform that copes with major Information Retrieval and Information Extraction tasks and promotes multi-disciplinary research.</p>
            </div>
            <div class="card-action">
                <a href="http://www.anote-project.org/" target="_blank">Read more</a>
            </div>
          </div>
          
          <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/ngless.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>NGLess is a domain-specific language for NGS (next-generation sequencing data) processing with a focus on metagenomics processing.</p>
            </div>
            <div class="card-action">
                <a href="http://ngless.embl.de" target="_blank">Read more</a>
            </div>
          </div>

      </div>

      <div class="col s12 m6 l6">

          <div class="card">
              <div class="card-image valign-wrapper">
                  <img class="tool-img" src="images/MASS-Toolbox-Logo.svg" style="padding: 10px; width: 30%; height: 30%">
              </div>
              <div class="card-content">
                  <!-- <span class="card-title">Card Title</span> -->
                  <p>The Mass-Action Stoichiometric Simulation (MASS) toolbox is a modeling software package that focuses on the construction and analysis of kinetic and constraint-based models of biochemical reactions systems.</p>
              </div>
              <div class="card-action">
                  <a href="http://opencobra.github.io/MASS-Toolbox" target="_blank">Read more</a>
              </div>
          </div>

          <div class="card">
            <div class="card-image">
                <img class="tool-img" src="images/iTOL_logo.png" style="padding: 10px; width: 50%; height: 50%">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p>iTOL: interactive Tree Of Life is an online tool for the display, annotation and management of phylogenetic trees. Trees can be annotated with 14 different dataset types, and exported into various graphical formats.</p>
            </div>
            <div class="card-action">
                <a href="http://itol.embl.de" target="_blank">Read more</a>
            </div>
          </div>
          
          <div class="card">
              <div class="card-image">
                  <img class="tool-img" src="images/merlin_logo.png" style="padding: 10px; width: 50%; height: 50%">
                  <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                  <p>The Metabolic Models Reconstruction Using Genome-Scale Information (merlin) tool is an user-friendly Java application that performs the reconstruction of genome-scale metabolic models for any organism that has its genome sequenced.</p>
              </div>
              <div class="card-action">
                  <a href="http://merlin-sysbio.org/" target="_blank">Read more</a>
              </div>
          </div>


          <div class="card">
              <div class="card-image">
                  <img class="tool-img" src="images/optlang.png" style="padding: 10px; width: 50%; height: 50%">
                  <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                  <p>Optlang is a Python package implementing a modeling language for solving mathematical optimization problems, i.e. maximizing or minimizing an objective function over a set of variables subject to a number of constraints. Optlang provides a common interface to a series of optimization tools, so different solver backends can be changed in a transparent way.</p>
              </div>
              <div class="card-action">
                  <a href="https://zenodo.org/record/228165#.WG0UiR-uOkD" target="_blank">Read more</a>
              </div>
          </div>
          
          
           <div class="card">
              <div class="card-image">
                  <img class="tool-img" src="images/gecko.png" style="padding: 10px; width: 50%; height: 50%">
                  <!-- <span class="card-title">Card Title</span> -->
              </div>
              <div class="card-content">
                  <p>The GECKO toolbox is a Matlab/Python package for enhancing a Genome-scale model to account for Enzyme Constraints, using Kinetics and Omics.</p>
              </div>
              <div class="card-action">
                  <a href="https://sysbiochalmers.github.io/GECKO/" target="_blank">Read more</a>
              </div>
          </div>
      
      </div>

  </div>


</div>
